extends layout 
 
block content 
  if (!user)
    div(class="center") 
      a(href="/login" class="btn btn-primary btn-block") Login
      br
      a(href="/register" class="btn btn-secondary btn-block") Register 
  if (user)
    p(class="center") You are currently logged in as #{user.username}
    div(class="center") 
      a(href="/animals" class="btn btn-primary") Take me to animals 
      br 
      a(href="/logout" class="btn btn-danger") Logout